<h1>About my Project</h1>
<p>Well to be honest, this actually hurt my brain.</p>

<%= image_tag "ERD.png" %>

<P>The dataset I have chosen is the League of Legends (Champion) from the Faker repository.  A single champion can have many quotes, spells, and masteries, while being only from one location with their class and having a single rank. The tables that will be used with the Champion table is Rank, Location and Class, Quotes, Spells, and Mastery. Unfortunately, utilizing the secondary source of Classes would simply not run on my installation of Rails.<p>